---
import Layout from '../layouts/Layout.astro';
import { Header } from '../components/Header';
import { Intro } from '../components/Intro';
import { Works } from '../components/Works';
import { Services } from '../components/Services';
---

<Layout title="Welcome to Astro.">
	<main>
		<Header client:load />
		<Intro />
		<Works />
		<Services />
	</main>
</Layout>
