---
import Layout from '../layouts/Layout.astro';
import { Header } from '../components/global/Header';
import { Intro } from '../components/home/Intro';
import { WhoAreWe } from '../components/home/WhoAreWe';
import { Works } from '../components/home/Works';
import { ServicesIntro } from '../components/home/ServicesIntro';
import { RunningText } from '../components/home/RunningText';
import { Footer } from '../components/global/Footer';
import { Island } from '../components/global/Island';
--- 
 
<Layout title="Welcome to Astro.">
	<main>
		<Header client:load />
		<Intro />
		<WhoAreWe />
		<Works />
		<ServicesIntro />
		<RunningText client:load />
		<Footer />
		<Island />
	</main>
</Layout>
