---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #0e0f11;
		color: #fff;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	* {
 padding: 0;
 margin: 0;
 border: 0;
}

*,
*:before,
*:after {
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
}

:focus,
:active {
 outline: none;
}

a:focus,
a:active {
 outline: none;
}

input,
button,
textarea {
 background: none;
}

input::-ms-clear {
 display: none;
}

button {
 cursor: pointer;
}

button[disabled] {
 cursor: default;
}

button::-moz-focus-inner {
 padding: 0;
 border: 0;
}

a,
a:visited {
 text-decoration: none;
}

a:hover {
 text-decoration: none;
}

ul li {
 list-style: none;
}

img {
 vertical-align: top;
}

select::-ms-expand {
 display: none;
}

a {
	color: inherit;
}
</style>
